<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <template v-for="group in deviceGroups">
            <div class="device-gropup">
                <span class="group-name">{{ group.name }}</span>
                <div class="group-device-list">
                    <div class="device-module" v-for="device in group.devices">
                        <div class="device-name">{{ device.name }}</div>
                        <img v-if="device.on" src="switch_on.svg" />
                        <img v-else src="switch.svg" />
                        <div class="value-pane">
                            <div>
                                <span class="attr-label">IA</span>
                                <span class="attr-value">{{ device.ia }}A</span>
                            </div>
                            <div>
                                <span class="attr-label">IB</span>
                                <span class="attr-value">{{ device.ib }}V</span>
                            </div>
                            <div>
                                <span class="attr-label">IC</span>
                                <span class="attr-value">{{ device.ic }}W</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            deviceGroups: []
            // deviceGroups: [{
            //     name: 'test',
            //     devices: [{
            //         name: 'test',
            //         on: true,
            //         ia: 1,
            //         ib: 2,
            //         ic: 3
            //     }]
            // }]
        },
        created: function () {
            this.createRadomData()
            this.switchFirst()
        },
        methods: {
            createRadomData: function () {
                for (var i = 0; i < 10; i++) {
                    let devices = []
                    for (var j = 0; j < this.randomRange(8, 10); j++) {
                        devices.push({
                            name: "设备" + (j + 1),
                            on: Math.random() > 0.5,
                            ia: this.randomRange(1, 9),
                            ib: this.randomRange(1, 9),
                            ic: this.randomRange(1, 9)
                        })
                    }
                    var group = {
                        'name': "设备组 " + (i + 1),
                        'devices': devices
                    }
                    this.deviceGroups.push(group)
                }

            },
            switchFirst: function () {
                console.log("ssssssssss")
                setInterval(() => {
                    if (this.deviceGroups.length > 1) {
                        let firstDevice = this.deviceGroups[0].devices[0];
                        firstDevice.on = !firstDevice.on
                        firstDevice.ia = this.randomRange(1, 9)
                        firstDevice.ib = this.randomRange(1, 9)
                        firstDevice.ic = this.randomRange(1, 9)
                        let sencondDevice = this.deviceGroups[1].devices[0]
                        sencondDevice.on = !firstDevice.on
                    }
                }, 3000);
            },
            randomRange: function (min, max) {
                return Math.round(Math.random() * (max - min) + min)
            }
        }
    })
</script>

</html>