body {
    margin: 20px;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.device-gropup {
    vertical-align: top;
    display: inline-block;
}

.group-name {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-weight: 500;
}

.group-device-list {
    width: auto;
    border-left: red 2px solid;
    border-top: red 2px solid;
}

.top-divider {
    background: red;
    height: 2px;
    width: 2000px;
}

.vertical-divider {
    background: red;
    height: 800px;
    width: 2px;
    display: inline-block;
}

.device-module {
    display: block;
    padding-right: 20px;
    margin-top: 20px;
    border-bottom: gray 1px dashed;
}

.device-name {
    text-align: left;
    margin: 10px auto;
    padding-left: 20px;
    font-size: 1em;
    font-weight: bold;
}

.group-part {
    vertical-align: top;
    display: inline-block;
}

.value-pane {
    padding: 20px;
}
.attr-label{
    font-size: 1em;
    font-weight: bold;
}

.attr-value{
    margin: auto 10px;
    font-size: 0.8em;
}