body {
	margin: 20px;
	padding: 0;
}

.top-divider {
    background: red;
    height: 2px;
    width: 3000px;
}

.vertical-divider {
    background: red;
    height: 800px;
    width: 2px;
    display: inline-block;
}

.module-switch {
    display: block;
    margin-right: 40px;
    margin-top: 20px;
    margin-left: -5px;
}

.group-part {
    vertical-align: top;
    display: inline-block;
}

.value-pane {
    padding: 10px;
}