<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GitHub Data</title>
  <link rel="stylesheet" href="github.css">
</head>
<body>
<script type="text/x-template" id="grid-sheet">
  <table>
    <thead>
    <tr>
      <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{active: sortKey == key}">
        {{ key | capitalize}}
        <span class="arrow"
              :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="
        entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]">
      <td v-for="key in columns">
        <a v-if="key==='name'" href="{{entry.html_url}}" target="_blank"> {{entry.name}}</a>
        <span v-else>{{entry[key]}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</script>


<div id="app">

  <center>
    <input v-model="userName" placeholder="input github id" @keyup.enter="update">
    <button @click="update">Update</button>

    <input type="checkbox" id="chb" v-model="showFork">
    <label for="chb">显示 Fork 项目</label>

    <center style="margin: 16px">
      <span>项目数目 {{repos.length}}</span>
      <span>Star 总数 {{starsCount}}</span>
    </center>

    <grid-sheet
        :data="repos"
        :columns="columns"
        :filter-key="searchQuery">
    </grid-sheet>
  </center>
</div>

<script src="../js/vue.min.js"></script>
<script src="github.js"></script>
</body>
</html>