<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GitHub Data</title>
  <link rel="stylesheet" href="github.css">
</head>
<body>


<div id="app">
  <div class="page-header">
    <h2>GitHub Data</h2>
  </div>

  <center>
    <input v-model="userName" placeholder="input github id" @keyup.enter="update">
    <button @click="update">Update</button>

    <input type="checkbox" id="chb" v-model="showFork">
    <label for="chb">显示 Fork 项目</label>

    <center style="margin: 16px">
      <span>项目数目 {{repos.length}}</span>
      <span>Star 总数 {{starsCount}}</span>
    </center>

    <grid-sheet
        :data="repos"
        :columns="columns"
        :filter-key="searchQuery">
    </grid-sheet>
  </center>

</div>

<script type="text/x-template" id="grid-sheet">
  <table>
    <thead>
    <tr>
      <th v-for="column in columns"
          @click="sortBy(column.key)"
          :class="{active: sortKey == column.key}">
        {{ column.title | capitalize}}
        <span class="arrow"
              :class="sortOrders[column.key] > 0 ? 'asc' : 'dsc'">
          </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="
        entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]">
      <td v-for="column in columns">
        <a v-if="column.key==='name'" href="{{entry.html_url}}" target="_blank"> {{entry.name}}</a>
        <span v-else>{{entry[column.key]}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</script>

<script src="../js/vue.min.js"></script>
<script src="github.js"></script>
</body>
</html>